{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extrahead %}
	

<style>
input[type=url] {
  border: 2px solid green;
  border-radius: 4px;
}
input[type=submit] {
  border: 2px solid green;
  border-radius: 4px;
}

</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/css/bootstrap-slider.min.css" />
{% endblock %}


{% block content %}
<div class="row row row-fluid">
	<div class="wpb_column columns small-12 medium-12">
		<div class="vc_column-inner  ">
			<div class="wpb_wrapper">
				<br/>

<h2 style="text-align: center;"> DETECTING FAKE NEWS USING NAIVE BAYES CLASSIFIERS</h2>

<br/>

<form  method="get" >
<div class="col text-center">	
 <div class="buttonHolder">
	  <div id="div_id_entryURL" class="form-group">
		   <label for="id_entryURL" class="col-form-label  requiredField">
				Enter a LINK from a news article<span class="asteriskField"></span> </label> 

				<div class="col text-cente"></div>
				<input type="url" name="u" class="urlinput form-control" maxlength="200" id="id_entryURL" required> </div> </div> 
				<input type="submit"
					name="submit"
					value="Analyze"
    
        class="btn btn-primary btn btn-primary"
        id="submit-id-submit"
    
    
	/>
</div>
<br><br>
</div> </form>


<b>ABOUT THIS PROJECT</b><br>
This artificial intelligence can predict whether a news article is fake or real based on the words used in the article.
Some of the algorithms used are the Naive Bayes Family such as :<br><br>
1.Bernoulli Naive Bayes<br>
2.Multinomial Naive Bayes<br>
3.Gaussian Naive Bayes classifier<br>

<br><br>

<b>HOW TO USE ?</b><br>
Enter a URL in the box above, the bot will load the article, extract the visible text, and 
use  different Naive Bayes classifier models to make a prediction of
whether the article is fake or real.
This may take several seconds because the URL you enter has to be loaded and processed.
<br><br>

<b>TYPES OF ARTICLES?</b><br> 
The model has been trained only on a dataset that tried to cover vast topics and thus it's likely to
produce credible results for any domain.Any news article is acceptable. 
<br><br>

<b>If you have any more questions or comments</b>
<a href="mailto:lewisker033@gmail.com">Email me here</a>

<br><br>

<br><br><br>
			</div>
		</div>
	</div>
</div>


{% endblock %}